<%= stylesheet_link_tag "sliders" %>

<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Slide Preview</h4>
</div>      <!-- /modal-header -->
<div class="modal-body">
<%= @body %>
</div>      <!-- /modal-body -->
<div class="modal-footer">
</div>      <!-- /modal-footer -->
